@import 'style';
#section1 {
       background-color:black;
        width:100vw;height:auto;
        header {padding:50px 0 30px;}
        header > h2 {.font('Quantico', 1.5rem, @theme-color, 300, center);}
        header > h3 {.font('Quantico', 1.8rem, #fff, 300, center);}
        div.subtitle {.inner();
            &:before {content:'';width:30%;height:1px;background-color:@theme-color;display:inline-block;}
            h2 {font-size:1.5rem;font-weight:300;line-height:1.6;letter-spacing:-1px;padding:10px;}
            h3 {font-size:1.2rem;line-height:1.2;font-weight:300;
                span {font-size:1rem;line-height:1.2;}
            }
        }
        div.contents {width:100%;height:auto;margin-top:30px;
            p {.inner();line-height:1.6;font-size:1rem;padding:30px 0;}
            .technologyImg img {width:100vw;}
        }
}
#section2 {
    background-color:black;
    position: relative;
    .icon {width:50px;height:50px;display:block;position:absolute;left:-60px;top:-5px;}
    .icon1 {.sp-img(-192px -97px, 400px);}
    .icon2 {.sp-img(-134px -97px, 400px);}
    .icon3 {.sp-img(-76px -97px, 400px);}
    .part_two {
        position: relative;
        z-index: 20;
        margin: 0 auto;
        padding: 0;
        height: 100%;
        transition: all .3s ease;
    div.subtitle {
        width:100vw;
        height:auto;
        padding:50px 0;
        h2 {font-size:1.5rem;position:relative;margin:20px 0 20px 60px;}
        .imgBox {
            position: relative;
            width: 250px;
            height: auto;
            margin:0 auto;
        }
   .drawSquare {
    z-index: 2;
    width: 250px;
    height: 220px;
    overflow: visible
}
   .drawSquare rect {
    fill: none;
    width: 250px;
    height: 220px;
    stroke-width: 1px;
    stroke: #d8b17e
}
   .historyImg {
    position: absolute;
    top: 10px;
    left: -10px;
    z-index: -1;
    background-image: url(/project/NCSOFT/img/stage3_interviewBoxImg1.jpg);
    width: 250px;
    height: 220px;
    display: block
}
   .historyBox {
    border: 1px solid #d8b17e;
    padding: 30px;
    width: 190px;
    height: auto;
    position: relative;
    display:block;
    span {line-height:1.8;}
}
}


  div.contents {
    .inner();
    height: auto;
    text-align: center;

  h2 {
    font-size:1.5rem;
    line-height: 1.6;
    margin: 0 0 20px;
    text-align: center;
}
  p {
    font-size: 18px;
    margin: 0 auto;
    line-height:1.6;
    font-size:1rem;
}
  p span.pointGold {
    font-size: 30px;
}
}
}

 .part_three {
    background-color: #fff;
    color: #000;
    height: 260px;

 .gameScreenShotSwiper {
    margin: 30px 0 0;
    .swiper-slide {
    background-size: cover;
    width: 80vw;
    height: calc(~'100vw *260 / 393');
    display: block
}
     .gameScreenShot1 {
    background-image: url(/project/NCsoft/img/stage3_section1_sl1.jpg);
}
     .gameScreenShot2 {
    background-image: url(/project/NCsoft/img/stage3_section1_sl2.jpg);
}
     .gameScreenShot3 {
    background-image: url(/project/NCsoft/img/stage3_section1_sl3.jpg);
}
     .gameScreenShot4 {
    background-image: url(/project/NCsoft/img/stage3_section1_sl4.jpg);
}
     .gameScreenShot5 {
    background-image: url(/project/NCsoft/img/stage3_section1_sl5.jpg);
}
     .gameScreenShot6 {
    background-image: url(/project/NCsoft/img/stage3_section1_sl6.jpg);
}
    .progress_num span {color:@theme-color;
        &.last {
            &:before {}
        }
    }
}
}
 .part_four {
    background-color: #fff;
    color: #000;
    padding: 100px 0 30px;
     .clearfix();

 .inner {

    margin:0 auto;
}
  div.subtitle {
    width: 100%;
    h2 {font-size:25px;position:relative;margin:20px 0 20px 60px;}
    .imgBox {
    position: relative;
    width: 250px;
    height: auto
}
   .drawSquare {

}
   .gameImgBox {
    width: 80vw;
    height: calc(~'100vw * 535 / 450');
    margin: 50px auto;

}
   .gameList {
    padding: 20px;
    border: 1px solid #d8b17e;
}
}
  div.contents {
    width: 100%;
    height: auto;

   .technologyImg {
    width: 670px;
    height: 335px;
}
   p {
    width: 100%;
    margin: 0 auto 140px;
    line-height: 1.6;
    text-align: left;
    font-size: 18px;
    text-align:center;
    span.pointGold {font-size: 1.2rem;}

}
}
}
}


#section3 {
    width:100vw;
    height: calc(~'100vw * 699 / 640');
    background-size: cover;
    background-position: 50% 50%;

    .inner {
    width: 100%;
    padding-top: 50px;
    p {text-align:center;}
    }
    header>h2 {
    font-size: 1.8rem;
    text-align: center;
}
    header>h3 {
    font-size: 28px;
    text-align: center;
}}
#section4 {
    .interview_cover {background-image:url('@{mobile-img-url}/stage3_interview_a_r_cover.png');}
    .interview_content {background-image:url('@{mobile-img-url}/stage3_interview_a_r_image.png');}
}
#section5 {
    width:100vw;
    height:calc(~'100vw * 1798 / 640');
    background-size: cover;
    background-position: 50% 50%;
    .inner {
        width: 100%;
        height:auto;
        padding :50px 0;
        p {text-align:center;}
    }
    header>h2 {font-size: 1.8rem;text-align: center;}
    header>h3 {font-size: 1.5rem; text-align: center;}
}
#section6 {
    background-color:#060a14;
    .interview_cover {background-image:url('@{mobile-img-url}/stage3_interview_b_r_cover.png');}
    .interview_content {background-image:url('@{mobile-img-url}/stage3_interview_b_r_image.png');}
}
#section7 {
    .interview_cover {background-image:url('@{mobile-img-url}/stage3_interview_c_l_cover.png');}
    .interview_content {background-image:url('@{mobile-img-url}/stage3_interview_c_l_image.png');}
    .interview_quote .quote p {font-size:42px;}
}
#section8 {
    .bg_navy();
 .part_one {
     header {
    text-align: center;
    padding-top: 40px;
    font-size: 1.8rem;
    color:#fff;
    h2 { padding:150px 0 80px;}
    .inner {
    color:@dark-color;
    margin: 0 auto;
}
}

.gameData {
    text-align: center;
    font-size: 18px;
}
.gameData {
    text-align: center;
    font-size: 18px;
}


.gameData div.gamebotIcon1 {
    background-image: url(/project/NCsoft/img/st3_game_upicon1.png);
    background-position: top center;
    background-size: 94px 94px;
    background-repeat: no-repeat;

    height: 70px;
    padding-top: 100px;

}

.gameData div.gamebotIcon2 {
    background-image: url(/project/NCsoft/img/st3_game_upicon2.png);
    background-position: top center;
    background-size: 94px 94px;
    background-repeat: no-repeat;

    height: 70px;
    padding-top: 100px;
}
}
 .part_two {
    padding:150px 0;
     header {
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
    font-size: 45px;
    color:#fff;
}
 header span {
    color: #d8b17e;
}
    .inner {
    position: relative;
    margin: 0 auto;

    .gameElement{
   .clearfix();
}


.gameElement .gameImg{

   margin:0 auto;
    height: 130px;
    /*border: 1px solid #ddd;*/
    text-align: center;
    overflow: hidden;
    position: relative;
    text-align:center;
}

.gameElement .gameDesc{
    margin:0 auto;
    height: 160px;
    font-size: 17px;
    /*border: 1px solid #ddd;*/
}
.gameElement .gameDesc span {
    color: #d8b17e;
}
.part_two_bar{
    height: 74%;
    width: 10px;
    position: absolute;
    top: 191px;
    left: 336px;
}



.gameElement .gameImg .gameImg_txt1,
.gameElement .gameImg .gameImg_txt2,
.gameElement .gameImg .gameImg_txt3,
.gameElement .gameImg .gameImg_txt4 {
    position: relative;
    top: -90px;
    width: 80px;
    margin: 0 auto;
}

.gameElement .gameImg .gameImg_txt4 {

    width: 140px;
}

.gameElement .gameImg .gameImg_img1,
.gameElement .gameImg .gameImg_img2,
.gameElement .gameImg .gameImg_img3,
.gameElement .gameImg .gameImg_img4 {
    transition: -webkit-transform 1000ms;
    transition: transform 1000ms;
    transition: transform 1000ms, -webkit-transform 1000ms;
    background-position: 50% 50%;
    background-size: cover;
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);

    -webkit-transform:scale(0.90);transform:scale(0.90);
    overflow: hidden;

    position: relative;
}


.gameElement .gameImg .gameImg_img1:hover,
.gameElement .gameImg .gameImg_img2:hover,
.gameElement .gameImg .gameImg_img3:hover,
.gameElement .gameImg .gameImg_img4:hover {
    -webkit-transform:scale(1.00);
    transform:scale(1.00);
        -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
}



.gameElement .gameImg .gameImg_img1 {
    width: 310px;
    height: 145px;
    background-image: url(/project/NCsoft/img/st3_game_img1.png);
}
.gameElement .gameImg .gameImg_img2 {
    width: 310px;
    height: 145px;
    background-image: url(/project/NCsoft/img/st3_game_img2.png);
}
.gameElement .gameImg 
.gameImg_img3 {
    width: 310px;
    height: 145px;
    background-image: url(/project/NCsoft/img/st3_game_img3.png);
}
.gameElement .gameImg 
.gameImg_img4 {
    width: 310px;
    height: 145px;
    background-image: url(/project/NCsoft/img/st3_game_img4.png);
}
}
}
}

#section9 {
            #pinContainer {
                position: relative;
                overflow: hidden;
                background-color: #fff;
                width: 100%;
                height: 100vh;
            .image {width:100vw;height:calc(~'100vw *502 /640');}    
            .pin1 {
                .image {background-image:url('@{mobile-img-url}/stage3_pin1.jpg'); }
                             .desc {background-color:#1d3363;
                    header > h2 {font-size:40px;letter-spacing:-2px;}
                }
            }
            .pin2 {
                 .image {background-image:url('@{mobile-img-url}/stage3_pin2.jpg'); } 
                 .desc {background-color:#1d3363;}
            }
            .pin3 {
                .image {background-image:url('@{mobile-img-url}/stage3_pin3.jpg'); }
                .desc {background-color:#0f1a32;}
            }
            .pin4 {
                .image {background-image:url('@{mobile-img-url}/stage3_pin4.jpg'); }
                .desc {background-color:#060a14;}
            }
       
}}
#section10 {
    .interview_cover {background-image:url('@{mobile-img-url}/stage3_interview_d_r_cover.png');}
    .interview_content {background-image:url('@{mobile-img-url}/stage3_interview_d_r_image.png');}

}
#section11 {
    width:100vw;
    height:calc(~'100vw * 997 / 640');
    position:relative;
    background-position:50% 0%;
    .shadowBox {
        text-align:center;
        width:100%;
        height:400px;
        background:rgba(0,0,0,0.7);
        position:absolute;
        bottom:0px;
        left:0px;
    p {
        font-size:25px;
        line-height:1.6;
        display: inline-block;
        vertical-align: top;
        margin-top: 60px;
}
}
}

 #foot { 
        .next_stage {
            background-image:url('@{img-url}/stage3_next_stage_bg.jpg');
               &_btn {background-image:url('@{img-url}/stage3_next_stage_btn.png');}
            &_text {bottom:20px;margin:10px;}
        }
    }
