@import 'style';
#section1 {
    background:#000;
    .inner {.inner();width:980px;}
    .clearfix();
    & > header {padding:150px 0 80px;}
    header > h2 {.font('Quantico', 30px, @theme-color, 300, center);}
    header > h3 {.font('Quantico', 50px, #fff, 300, center);}
      .part_one {
           .inner();
            .clearfix();
            padding:0 0 30px;

            div.subtitle {float:left;width:250px;margin-right:50px;height:auto;padding-top:20px;border-top:1px solid @theme-color;
            h2 {font-size:50px;font-weight:300;line-height:1.2;letter-spacing:-2px;
                span {letter-spacing:0px;}}
            h3 {font-size:30px;line-height:1.2;font-weight:300;
                span {font-size:20px;line-height:1.2;}
            }
        }
        div.contents {float:right;width:680px;height:auto;text-align:center;
           .technologyImg {width:670px;height:335px;}
            p {width:95%;margin:50px auto;text-align:center;line-height:1.6;}
        }
    }
}
//     #section2{
//     .part_two {
//             .inner();
//             .clearfix();
//            padding:0 0 100px;
//            height:250px;
//             div.subtitle {float:left;width:250px;height:auto;margin-Fright:50px;
//             .imgBox {position:relative;width:250px;height:auto;} 
//             .drawSquare {z-index:2;width:250px;height:220px;overflow:visible;
//                 rect {fill:none;width:250px;height:220px;stroke-width:1px;stroke:@theme-color;}
//             }
//             .historyImg {position:absolute;top:10px;left:-10px;z-index:-1;background-image:url('@{img-url}/stage3_interviewBoxImg1.jpg');width:250px;height:220px;display:block;}
//             .historyBox {border:1px solid @theme-color;padding:30px;width:170px;height:auto;position:absolute;}
//         }
//         div.contents {float:right;width:680px;height:auto;text-align:left;
//             h2 {font-size:35px;line-height:35px;margin:0px 0 20px;text-align:left;}
//             p {font-size:18px;margin:0 auto;
//                 span.pointGold {font-size:30px;}
//             }
//         }
//     }
//     .part_three {
//         background-color: #fff;
//         color: #000;
//         height:260px;

//         .gameScreenShotSwiper {margin: 30px 0 0;
//         .swiper-slide {background-size:cover;width:393px;height:260px;display:block;}
//         .gameScreenShot1 {background-image: url('@{img-url}/stage3_section1_sl1.jpg');}
//         .gameScreenShot2 {background-image: url('@{img-url}/stage3_section1_sl2.jpg'); }
//         .gameScreenShot3 {background-image: url('@{img-url}/stage3_section1_sl3.jpg'); } 
//         .gameScreenShot4 {background-image: url('@{img-url}/stage3_section1_sl4.jpg'); }
//         .gameScreenShot5 {background-image: url('@{img-url}/stage3_section1_sl5.jpg'); }
//         .gameScreenShot6 {background-image: url('@{img-url}/stage3_section1_sl6.jpg'); }
//         }
//     }

// .part_four {
//     background-color: #fff;
//     color: #000;
//     padding:100px 0 30px;
//      .clearfix();
//     div.subtitle {float:left;width:285px;margin-right:50px;height:auto;padding-top:20px;
//         header > h2 {font-size:25px;font-weight:300;line-height:1.2;letter-spacing:-1px;text-transform: uppercase;}
//        .gameImgBox {width:285px;height:339px;}
//         .gameList {padding:20px; border:1px solid @theme-color;}
//     }
//     div.contents {float:right;width:645px;height:auto;
//        .technologyImg {width:670px;height:335px;}
//         p {width:100%;margin:0px auto 100px;line-height:1.6;text-align:left;font-size:18px;
//             span.pointGold {font-size: 28px;}
//         }

  
// }
// }
// }


#section3 {
    max-height: 1040px;
    height: 521px;
    background-size: cover;
    background-position: 50% 50%;
    .inner {
    width: 791px;
    height: 456px;
    padding-top: 150px;
    p {text-align:center;}
    }
    header>h2 {
    font-size: 40px;
    text-align: center;
}
    header>h3 {
    font-size: 28px;
    text-align: center;
}}
#section5 {
    max-height: 1040px;
    height: 1180px;
    background-size: cover;
    background-position: 50% 50%;
    .inner {
        width: 830px;
        height:auto;
        padding :150px 0;
        p {text-align:center;}
    }
    header>h2 {font-size: 40px;text-align: center;}
    header>h3 {font-size: 28px; text-align: center;}
}
#section6 {background-color:#060a14;}
#section7 {
    .interview_quote .quote p {font-size:42px;}
}
#section9 {
           &.pinImage {
            position: relative;
            width:100%;
            height:100%;
            display:block;
            text-align: center;
            h3 {
                font-style: normal;
                font-weight: 300;
                font-size: 46px;
                opacity: 1;
            }
            #pinContainer {
                position: relative;
                overflow: hidden;
                background-color: #fff;
                width: 100%;
                height: 100vh;
            }
            .panel {
                width:100%;
                height:100%;
                position:relative;
            }
            .pinScene {
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #fff;
                width:50%;height:100%;
                position:absolute;
            }

            .panel p {
                position: relative;
                width: 100%;
                color: #fff;
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 20px;
             }
            .desc {
                width:50%;
                height:100%;
                color:#fff;
                margin-left:50%;
                position:absolute;
                top:0px;
                .inner {width:420px;height:350px;margin:0 auto;position:absolute;top:calc(~"50% - 175px");left:calc(~"50% - 210px");
                    p {font-size:18px;line-height:1.6;}
                }
            }
            .scene1 {
                .image {background-image:url('@{img-url}/stage3_pin1.jpg'); }
                .desc {background-color:#1d3363;
                    header > h2 {font-size:40px;letter-spacing:-2px;}
                }
            }
            .scene2 {
                 .image {background-image:url('@{img-url}/stage3_pin2.jpg'); } 
                .desc {background-color:#0f1a32;}
            }
            .scene3 {
                .image {background-image:url('@{img-url}/stage3_pin3.jpg'); }
                .desc {background-color:#060a14;}
            }
            .scene4 {
                .image {background-image:url('@{img-url}/stage3_pin4.jpg'); }
                .desc {background-color:#060a14;}
            }
 .fixedPinNavi {
                    position:absolute;
                    width:50%;
                    top:80%;
                    left:50%;

                span {
                    margin:20px 10px;
                    display:inline-block;
                    text-align:center;
                    width:30px;height:30px;
                    position:relative;
                    &:after {
                        content:'';
                        border:1px solid #fff;
                        border-radius:50%;
                        display:inline-block;
                        width:30px;
                        height:30px;
                        position:absolute;
                        left:0;
                    }
                &.swiper-pagination-bullet-active {background:none;color:@theme-color;
                &:after {
                        content:'';
                        border:1px solid @theme-color;
                        border-radius:50%;
                        display:inline-block;
                        width:30px;
                        height:30px;
                        position:absolute;
                        left:0;
                    }}
                }
            }
       
}}

#section11 {
    width:100%;
    height:800px;
    position:relative;
    .shadowBox {
        text-align:center;
        width:100%;
        height:400px;
        background:rgba(0,0,0,0.7);
        position:absolute;
        bottom:0px;
        left:0px;
    p {
        font-size:25px;
        line-height:1.6;
        display: inline-block;
        vertical-align: top;
        margin-top: 60px;
}
}
}

 #foot { 
        .next_stage {
            width:100%;height:493px;display:block;
            background-image:url('@{img-url}/stage3_next_stage_bg.jpg');
            background-position: center top;
            background-repeat:no-repeat;
            background-size:cover;
            position:relative;
            &_box {width:200px;height:200px;display:block;position:absolute;border:5px solid #fff;left:calc(~"50% - 100px");top:calc(~"50% - 100px");}
            &_btn {position:absolute;bottom:0px;right:0px;background-image:url('@{img-url}/stage3_next_stage_btn.png');width:199px;height:277px;display:block;}
            &_text {position:absolute;bottom:20px;left:0px;width:calc(~"100% - 20px");height:80px;margin:10px;
                h2 {font-size:40px;line-height:40px;text-align:center;}
                p {font-size:16px;line-height:16px;margin:10px 0;text-align:center;}
            }
            #drawNextStage {width:210px;height:210px;position:absolute;top:0;left:0;right:0;bottom:0;}
            .next_text {color:@theme-color;font-size:25px;position:absolute;top:-13px;left:-90px;}
        }
        .go_homepage {
            display: table;
            width: 100%; height: 505px;
            text-align: center;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            position:relative;
            & > * {z-index:10;}
             &:before {content: "";background-color:rgba(42,61,103,.87);position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;}

              .inner {
                display: table-cell;
                width: 100%; height: 100%;
                vertical-align: middle;
                z-index:99;
            }
            a {
                display: inline-block;
                margin-top: 12px;
                border-bottom: 1px solid #fff;
                letter-spacing: -1px;
                font-size: 20px;
                color: #fff;
            }
        }
    }



/*   6번 section 퍼블리싱 - 이기석*/
/*   6번 section 퍼블리싱 - 이기석*/
#section8 {
     .clearfix();
 .part_one{
    background:#fff;
     header {
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
    font-size: 45px;
    color:@dark-color;
}
 header span {
    color: #d8b17e;
}
    .inner {
    color:@dark-color;
    width: 900px;
    margin: 0 auto;
    .clearfix();
}
}

 .part_one .gameData.n_left{
    float: left;
    width: 49%;
    text-align: center;
    font-size: 18px;
}
 .part_one .gameData.n_right{
    float: right;
    width: 49%;
    text-align: center;
    font-size: 18px;
}


 .part_one .gameData.n_left div,
 .part_one .gameData.n_right div{
    color: #d8b17e;
    font-size: 25px;
}


 .part_one .gameData.n_left div.gamebotIcon1 {
    background-image: url(/project/NCsoft/img/st3_game_upicon1.png);
    background-position: top center;
    background-size: 94px 94px;
    background-repeat: no-repeat;

    height: 70px;
    padding-top: 100px;

}

 .part_one .gameData.n_right div.gamebotIcon2 {
    background-image: url(/project/NCsoft/img/st3_game_upicon2.png);
    background-position: top center;
    background-size: 94px 94px;
    background-repeat: no-repeat;

    height: 70px;
    padding-top: 100px;
}

 .part_two{
    background-color:#000;
    padding:150px 0;
     header {
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
    font-size: 45px;
    color:#fff;
}
 header span {
    color: #d8b17e;
}
    .inner {
    position: relative;
    width: 800px;
    margin: 0 auto;
    .clearfix();
    .gameElement{
   .clearfix();
}


.gameElement .gameImg{
    float: left;
    width: 300px;
    height: 130px;
    /*border: 1px solid #ddd;*/
    text-align: center;
    overflow: hidden;
    position: relative;
}

.gameElement .gameDesc{
    float: right;
    width: 420px;
    height: 160px;
    font-size: 17px;
    /*border: 1px solid #ddd;*/
}
.gameElement .gameDesc span {
    color: #d8b17e;
}
.part_two_bar{
    border-right: 1px solid #6f5e49;
    height: 74%;
    width: 10px;
    position: absolute;
    top: 191px;
    left: 336px;
}



.gameElement .gameImg .gameImg_txt1,
.gameElement .gameImg .gameImg_txt2,
.gameElement .gameImg .gameImg_txt3,
.gameElement .gameImg .gameImg_txt4 {
    position: relative;
    top: -90px;
    width: 80px;
    margin: 0 auto;
}

.gameElement .gameImg .gameImg_txt4 {

    width: 140px;
}

.gameElement .gameImg .gameImg_img1,
.gameElement .gameImg .gameImg_img2,
.gameElement .gameImg .gameImg_img3,
.gameElement .gameImg .gameImg_img4 {
    transition: -webkit-transform 1000ms;
    transition: transform 1000ms;
    transition: transform 1000ms, -webkit-transform 1000ms;
    background-position: 50% 50%;
    background-size: cover;

    -webkit-transform:scale(0.90);transform:scale(0.90);
    overflow: hidden;

    position: relative;
}


.gameElement .gameImg .gameImg_img1:hover,
.gameElement .gameImg .gameImg_img2:hover,
.gameElement .gameImg .gameImg_img3:hover,
.gameElement .gameImg .gameImg_img4:hover {
    -webkit-transform:scale(1.00);
    transform:scale(1.00);
}



.gameElement .gameImg .gameImg_img1 {
    width: 310px;
    height: 145px;
    background-image: url(/project/NCsoft/img/st3_game_img1.png);
}
.gameElement .gameImg .gameImg_img2 {
    width: 310px;
    height: 145px;
    background-image: url(/project/NCsoft/img/st3_game_img2.png);
}
.gameElement .gameImg 
.gameImg_img3 {
    width: 310px;
    height: 145px;
    background-image: url(/project/NCsoft/img/st3_game_img3.png);
}
.gameElement .gameImg 
.gameImg_img4 {
    width: 310px;
    height: 145px;
    background-image: url(/project/NCsoft/img/st3_game_img4.png);
}
}
}

}

#section2 {
    background-color:black;
     position: relative;
        .clearfix();
            .icon {width:50px;height:50px;display:block;display:inline-block;}
    .icon1 {.sp-img(-192px -97px, 400px);}
    .icon2 {.sp-img(-134px -97px, 400px);}
    .icon3 {.sp-img(-76px -97px, 400px);}
     .part_two {
    position: relative;
    z-index: 20;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    transition: all .3s ease;
    width: 980px;
    padding: 0 0 100px;
    height: 250px;
    .clearfix();

 div.subtitle {
    float: left;
    width: 250px;
    height: auto;
    margin-right: 50px;
    .imgBox {
    position: relative;
    width: 250px;
    height: auto
}
   .drawSquare {
    z-index: 2;
    width: 250px;
    height: 220px;
    overflow: visible
}
   .drawSquare rect {
    fill: none;
    width: 250px;
    height: 220px;
    stroke-width: 1px;
    stroke: #d8b17e
}
   .historyImg {
    position: absolute;
    top: 10px;
    left: -10px;
    z-index: -1;
    background-image: url(/project/NCsoft/img/stage3_interviewBoxImg1.jpg);
    width: 250px;
    height: 220px;
    display: block
}
   .historyBox {
    border: 1px solid #d8b17e;
    padding: 30px;
    width: 190px;
    height: auto;
    position: absolute;
    span {line-height:1.8;}
}
}

  div.contents {
    float: right;
    width: 680px;
    height: auto;
    text-align: left
}
  div.contents h2 {
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 20px;
    text-align: left
}
  div.contents p {
    font-size: 18px;
    margin: 0 auto;
    line-height:1.8;
}
  div.contents p span.pointGold {
    font-size: 30px
}
}
 .part_three {
    background-color: #fff;
    color: #000;
    height: 260px
}
 .part_three .gameScreenShotSwiper {
    margin: 30px 0 0
}
 .part_three .gameScreenShotSwiper .swiper-slide {
    background-size: cover;
    width: 393px;
    height: 260px;
    display: block
}
 .part_three .gameScreenShotSwiper .gameScreenShot1 {
    background-image: url(/project/NCsoft/img/stage3_section1_sl1.jpg)
}
 .part_three .gameScreenShotSwiper .gameScreenShot2 {
    background-image: url(/project/NCsoft/img/stage3_section1_sl2.jpg)
}
 .part_three .gameScreenShotSwiper .gameScreenShot3 {
    background-image: url(/project/NCsoft/img/stage3_section1_sl3.jpg)
}
 .part_three .gameScreenShotSwiper .gameScreenShot4 {
    background-image: url(/project/NCsoft/img/stage3_section1_sl4.jpg)
}
 .part_three .gameScreenShotSwiper .gameScreenShot5 {
    background-image: url(/project/NCsoft/img/stage3_section1_sl5.jpg)
}
 .part_three .gameScreenShotSwiper .gameScreenShot6 {
    background-image: url(/project/NCsoft/img/stage3_section1_sl6.jpg)
}
 .part_four {
    background-color: #fff;
    color: #000;
    padding: 100px 0 30px;
     .clearfix();
}
.part_four .inner {
    width:980px;
    margin:0 auto;
}
 .part_four div.subtitle {
    float: left;
    width: 285px;
    margin-right: 50px;
    height: auto;
    padding-top: 20px
}
 .part_four div.subtitle header>h2 {
    font-size: 25px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -1px;
    text-transform: uppercase
}
 .part_four div.subtitle .gameImgBox {
    width: 285px;
    height: 339px;
    margin: 50px auto;
}
 .part_four div.subtitle .gameList {
    padding: 20px;
    border: 1px solid #d8b17e
}
 .part_four div.contents {
    float: right;
    width: 645px;
    height: auto
}
 .part_four div.contents .technologyImg {
    width: 670px;
    height: 335px
}
 .part_four div.contents p {
    width: 100%;
    margin: 0 auto 140px;
    line-height: 1.6;
    text-align: left;
    font-size: 18px
}
 .part_four div.contents p span.pointGold {
    font-size: 28px
}
}

